
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: "Merriweather", serif;
    width: 100vw;
    min-height: 100vh;
    font-size: 1.4rem;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 100vw;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    background: url() no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .container {
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 3rem 0;
}

nav .logo img {
    width: 12rem;
    scale: 1.1;
}

nav .logo{
    margin-right: auto;
}

nav a {
    font-weight: bold;
}

section.cover {
    background: url() no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 100vw;
    padding-top: 13rem;
}

.cover .container {
    position: relative;
}

.btn {
    padding: 1.4rem 2.6rem;
    border-radius: 3rem;
    font-weight: normal;
    font-size: 1.2rem;
    outline: none;
    border: none ;
    color: #fff;
}

.btn-dark {
    background: #000;
}

.btn-circle {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    outline: none;
    border: none;
    display: grid;
    place-content: center;
    font-size: 2.1rem;
    color: #fff;
}

.btn-yellow {
    background: #fe8143;
}

.intro {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.gradient-heading {
    font-size: 8rem;
    font-weight: 1000;
    background: linear-gradient(to right,#43C0FE, #fe8143 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading {
    font-size: 8rem;
    font-weight: 1000;
    color: #000;
}

.circle-images {
    display: flex;
}



.cirle-image{
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    overflow: hidden;
}

.circle-image::nth-child(2){
    transform: translateX(-30%);
}

/* 23:19 */